<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="tests/unit-tests/bootstrap.php">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">bin</directory>
      <directory suffix=".php">src</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-html" target="review/code-coverage"/>
  </logging>
</phpunit>
